@media screen and (max-width: 600px) {

  .container {
    width: 90%;
  }

  .head-menu {
    display: none;
  }

  .fa-bars {
    display: block;
    float: right;
    font-size: 30px;
    padding: 18px;
  }

  /* top-content */
  
  .top-content h1 {
    font-size: 30px;
    text-align: left;
  }

  .top-content p {
    text-align: left;
  }

  .or_txt {
    display: inline-block;
    text-align: center;
  }

  .btn a {
    display: block;
  }

  .sineup {
    width: 100%;
  }

  .facebook {
    width: 100%;
  }

  .twitter {
    width: 100%;
  }

  /* lesson-content */

  .lesson {
    width: 100%;
  }

  .next-content-btn {
    width: 100%;
  }

  /* footer */
  footer {
    text-align: center;
  }

}
